doctype html
html
  include /../../static/assets/lib/ldui/pug/ldui.pug
  head
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    +css("assets/lib/ldui/ldui.min.css")
    style: :stylus
      .legend
        padding: .25em
        position: absolute
        bottom: 1em
        left: .25em
        top: auto
        right: auto
      .label
        font-size: .875em
        .dot
          display: inline-block
          width: 1em
          height: 1em
          border-radius: 50%
          vertical-align: middle
          margin-left: .25em
        .name
          min-width: 3em
          text-align: right
          display: inline-block
          vertical-align: middle
  body.p-4
    .w-768.rwd.mx-auto
      .text-center.mb-1.py-3
        h1.mt-4.mb-0 2020 總統大選
        p.text-muted 全國各鄉鎮藍綠總統 / 政黨票差距簡易分析#[br]#[span.text-sm 計算公式: 100% * (陣營政黨票 - 總統票) / 總統票]
      .row
        .col-md
          .text-center 藍營差距
          +scope("kmt"): .aspect-ratio(style="padding-top:130%")
            #kmt.mx-auto.shadow-sm.w-100.h-100.border.rounded
            .legend: .label(ld-each="label") #[.name]#[.dot]
        .col-md
          .text-center 綠營差距
          +scope("dpp"): .aspect-ratio(style="padding-top:130%")
            #dpp.mx-auto.shadow-sm.w-100.h-100.border.rounded
            .legend: .label(ld-each="label") #[.name]#[.dot]

      +script("https://d3js.org/d3.v4.js")
      +script("https://d3js.org/topojson.v2.min.js")
      +script("https://d3js.org/d3-color.v1.min.js")
      +script("https://d3js.org/d3-interpolate.v1.min.js")
      +script("https://d3js.org/d3-scale-chromatic.v1.min.js")
      +script("assets/lib/pdmap.tw/pdmaptw.js")
      +script("assets/lib/ldui/ldui.min.js")
      +script("https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js")
      +script("js/diff.js")
